@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.nav{
    width:100vw;
    height: 100px;
    position:fixed;
    top: 0;
    display: flex;
    background-color: black;
}
body{
    background-color: rgb(20, 18, 18);
}
.logo{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-left: 20px;
    background-size: 100px 100px;
    background: url('logo.png');
}
.searchbox{
    width: 300px;
    height: 40px;
    margin: auto;
    background-color: cornflowerblue;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}
.searchbutton{
    width:40px;
    height: 40px;
    background-color: tomato;
    background-image: url(search.jpg);
    background-size: cover;
    cursor:pointer;
}
.inputbox{
    width: 250px;
    height: 100%;
    padding-left: 10px;
    border: transparent;
    font-size: x-large;
    
}
.optionmenu{
    width: 500px;
    height: 50px;
    display: flex;
    right: 0;
    margin-top: 30px;
}
.mob{
    height: 300px;
    position: relative;
    display:none;
    flex-direction: column;
    top: 30px; 
}
.menubutton{
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 5px;
}
.line{
    width:40px;
    height:4px;
    margin: auto;
    background-color:tomato;
    
}
.optionmenu2{
    width: 120px;
    height: 200px;
    visibility: hidden;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    right: 0;
}
.option{
    width: 80px;
    height:40px;
    margin: auto;
    margin-top: 9px;
    color: tomato;
    font-size: x-large;
    cursor: pointer;
}
.container1{
    width: 100vw;
    height: calc(100vh - 100px);
    margin-top: 120px;
}
.container{
    width: 100vw;
    height: auto;
    margin-top: 120px;
}
.latest{
    width: 100%;
    height: 250px;
    margin-top: 50px;
    background-color: transparent;
}
.text1{
    width: fit-content;
    height: 65px;
    font-size: 52px;
    font-family: 'Dancing Script', cursive;
    color: blue;
    margin: auto;
}
.recentblogs{
    width: 100%;
    max-width: 700px;
    height: 200px;
    margin: auto;
    margin-top: 40px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}
.rblog{
    width: 160px;
    height: 160px;
    background-color: skyblue;
    background-size: 160px 160px;
    margin: auto;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: solid black;
}
.container2{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.container3{
    width: 100%;
    max-width: 700px;
    height: calc(100vh - 150px);
    margin: auto;
    border: solid 10px rgb(37, 36, 36);
    border-radius:20px;
    background-color: rgb(44, 43, 43);
    box-shadow: inset darkgrey 0 0 0.5px;
}
.bloghead{
    width: 100%;
    max-width: 700px;
    height: calc(100vh - 150px);
    margin: auto;
    background-color: rgb(158, 165, 65);
    background-image: url('headblog1.png');
    background-size: calc(min(100%,700px)) calc(100vh - 150px);
}
.blogbrief{
    border-top:solid white 2px;
    margin-top: 50px;
    padding: 20px;
    width: 95%;
    height: auto;
    color: white;
    font-size: x-large;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    word-wrap: break-word;
}
.blogpage{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    display: none;
}

.bloggrid{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.mblog{
    width: 300px;
    height: 250px;
    background-color: rgb(95, 95, 54);
    margin: auto;
    margin-top: 5px;
    border: solid black;
}
.container4{
    width: 300px;
    margin: auto;
    height: calc(100vh - 150px);
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.story{
    width: 100%;
    height: 100px;
    background-color: darkslateblue;
    margin: auto;
    margin-top: 10px;
    
}
.date{
    position: static;
    margin-left:calc(100% - 170px);
    width: 150px;
    color: wheat;
}
@media screen and (max-width:600px){
    .optionmenu{
        display:none;
    }
    .mob{display:initial}
}