@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior:smooth;
}
.mainpage{
width: 100vw;
height: 120vh;
background-image: url('b1.jpg');
background-color: whitesmoke;
background-size:100vw 120vh;
background-position: center;
z-index: 3;
}
.hellotext{
    width: 100%;
    height: 100px;
    font-size: 100PX;
    color: transparent;
    text-align: center;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color: rgb(250, 237, 57);
    text-shadow: 0 0 50px rgb(250, 237, 57);
    font-family: 'Roboto Mono', monospace;
    
}
.menu{
    width: 120px;
    height: 200px;
    background:transparent;
    border: thin white;
    border-radius: 10px;
    display: flex;
    top: 270px;
    position: absolute;
    flex-wrap: wrap;
}
#openmenu{
width: 90px;
height: 25px;
border:  solid black 5px;
border-radius: 50px 20px 50px 20px;
color: rgb(6, 6, 7);
text-align: center;
padding-right: 10px;
position: relative;
bottom: 2px;
font-size:large;
justify-content: center;
cursor: pointer;
font-style: italic;
font-weight: bold;
}
.omenu{
    width: 110px;
    height: 31px;
    position: absolute;
    top: 220px;
    padding: 7px;
    box-shadow: rgb(250, 237, 57) 0 0 20px;
    background-color: rgb(250, 237, 57);
    border-radius: 50px 20px 50px 20px;
}
.button{
    width: 80px;
    height: 25px;
    margin: auto;
    backdrop-filter: blur(3px);
    font-size: large;
    text-align: center;
    color:rgb(225, 247, 100);
    border:solid 5px rgb(214, 233, 106);
    opacity: 100%;
    border-radius: 40px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    animation-duration: 1s;
    overflow-x: hidden;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    scroll-behavior: smooth;
    transform:translateX(-150%);
}
@keyframes mbtn{
    0%{
        transform: translateX(-150%);

    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes cmbtn{
    0%{
        transform: translateX(0%);

    }
    100%{
        transform: translateX(-150%);
    }
}



.button:hover{
    width: 100px;
    height: 30px;
    font-size: x-large;
}


#container{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    /* background-image: url('grey.jpg'); */
    background-color: rgba(0,0,0,255);
    background-size: cover;
    /* overflow-x: hidden; */
    display: flex;
    margin-top: -5px;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center center;
    background-attachment:scroll;
}
#photo{
    width: 300px;
    height:70vh;
    background-image: url(myimage.png);
    display: flex;
    margin: auto;
    background-size: 300px 70vh;
    animation-name: cout;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes cout{
    0%{
        transform: translateX(0%) translateY(0%);

    }
    50%{
        transform: translateX(5%) translateY(5%);
    }
    100%{
        transform: translateX(0%) translateY(0%);

    }
}
.text{
    width:60vw;
    min-width: 300px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    padding: 7px;
    color: burlywood;
    font-size: xx-large;
    font-family: 'Dancing Script', cursive;
}
.hello{
    width: 100%;
    height: auto;
    padding-top: 30px;
    font-size: 40px;
    color: rgb(157, 235, 57);
    font-family: 'Work Sans', sans-serif;
    border-radius: 30px;
    text-align: center;
}
#container2{
    width: 100vw;
    height: 60vh;
    background-image: url('p1.jpg');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
#container3{
    width: 100vw;
    height: auto;
    background-color: black;
    background-size: cover;
    background-position-x: right;
    background-position: right center;
    margin-top: -10px;
    padding-top: 100px;
}
.board{
    width: 300px;
    height:400px;
    margin: auto;
    position:relative;
    background:rgb(230, 225, 225);
    display: flex;
    flex-direction: row;
    transform: rotateZ(0deg);
    flex-wrap: wrap;
    background: inherit;
    border-radius: 10px;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
    object-position: right center;
}
.square{
    width: 100px;
    height: 100px;
    border: double skyblue  12px;
    color: transparent ;
    font-size: 90px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 5px skyblue;
    -webkit-text-stroke-color: skyblue;
    -webkit-text-stroke-width: 1px;
    text-shadow: 0 0 50px skyblue;
}
.circle{
    width:40px;
    height: 40px;
    border: double skyblue  12px;
    border-radius: 50%;
    box-shadow: 0 0 5px skyblue;
    margin-left: 19px;
    margin-top: 13px;   
}
.dot{
    width:3px;
    height: 3px;
    border: solid skyblue  4px;
    box-shadow: 0 0 5px skyblue;
    border-radius: 50%;
    margin-left: 80px;
}
.icon{
    width: fit-content;
    height: auto;
    cursor: pointer;
    margin: auto;
}

.logo_git{
    width: 80px;
    height: 80px;
    background:url("git2.png");
    margin: auto;
    margin-top: 10px;
    filter: drop-shadow(0 0 15px skyblue) ;
    background-size: 80px 80px;
}
.connect{
    width: 100%;
    font-weight: bold;
    color: transparent;
    font-size: 50px;
    text-align: center;
    -webkit-text-stroke-color: skyblue;
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke-width: 1px;
    text-shadow: 0 0 50px skyblue;
}
.bcircle{
    width: 30px;
    height: 30px;
    border: solid rgba(187,200,244,255) 15px;
    border-radius: 50%;
    margin-left: calc(100% - 70px);
    margin-top: 10px;
    background-color: rgba(7,5,17,255);
}
@media only screen and (max-width: 600px) {
    #card {
      left: 40px;
    }
    #photo{
        height: 50vh;
        background-size: 300px 50vh;
    }
    .text{
        font-size: x-large;
    }
    .omenu{
        background-color: rgb(152, 211, 235);
        box-shadow: skyblue 0 0 20px;
    }
    .mainpage{
        background-image: url('b2.jpg');
        height: 100vh;
        background-size: 100vw 100vh;
    }
    .board{
        left:0px;
    }
    .button{
        color: skyblue;
        border-color: skyblue;
    }
    .hellotext{
        -webkit-text-stroke-color: skyblue;
    text-shadow: 0 0 50px skyblue;
    }
  }
  .pbutton{
      width: 150px;
      height:30px;
      border: double white 2px;
      position: relative;
      left: calc( 50% - 75px);
      top: 250px;
      border-radius: 40px;
      font-size: x-large;
      cursor: pointer;
      text-align: center;
      color: white;
      z-index: 3;
  }
  .pbutton:hover {
    box-shadow: 0 0 30px;
  }
  #video_wrapper
{
 margin:0px;
 padding:0px;
}
video
{
margin-top: -35px;
z-index: 0;
width: 100vw;
height: auto;
position: sticky;
}
#wrapper
{
 text-align:center;
 width:auto;
 bottom: 300px;
 z-index:2;
}
#loading{
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: yellow;
    overflow-y: hidden;
    position: fixed;
    font-size: xx-large;
    text-align: center;
    padding-top: 200px;
    opacity: 70%;
}
.footer{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    
}
.foption{
    width: 49vw;
    color: white;
    text-align: center;
    margin: auto;
    cursor: pointer;
    font-size: x-large;
}